@model ComplexDataValidation.Models.Person
@{
    ComplexDataValidation.Models.Book lastBook = null;
    if (Model.Books.Capacity != 0)
    {
        lastBook = Model.Books.Last();
    }
}

@{
    ViewData["Title"] = "Details";
}

<h2>Person</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>


<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading" style="background: #9ecca7">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Credentials
                    </a>
                    @if (Model.Credentials == null)
                    {
                        <a asp-controller="Credentials" asp-action="Create" asp-route-id="@Model.Id" class="accordion-link">
                            Create
                        </a>
                    }
                    else if (Model.Credentials.Submited == false)
                    {
                        <a asp-controller="Credentials" asp-action="Edit" asp-route-id="@Model.Id" class="accordion-link">
                            Edit
                        </a>
                    }
                </h3>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row bottom-margin">
                                <label asp-for="Credentials.Name" class="col-xs-6 display-label"></label>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(model => model.Credentials.Name)
                                </div>
                            </div>
                            <div class="row bottom-margin">
                                <label asp-for="Credentials.Age" class="col-xs-6 display-label"></label>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(model => model.Credentials.Age)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#8aaac4;">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        Pet
                    </a>
                    @if (Model.Pet == null)
                    {
                        <a asp-controller="Pets" asp-action="Create" asp-route-id="@Model.Id" class="accordion-link">
                            Create
                        </a>
                    }
                    else if (Model.Pet.Submited == false)
                    {
                        <a asp-controller="Pets" asp-action="Edit" asp-route-id="@Model.Id" class="accordion-link">
                            Edit
                        </a>
                    }
                </h3>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row bottom-margin">
                                <label asp-for="Pet.Name" class="col-xs-6 display-label"></label>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(model => model.Pet.Name)
                                </div>
                            </div>
                            <div class="row bottom-margin">
                                <label asp-for="Pet.Kind" class="col-xs-6 display-label"></label>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(model => model.Pet.Kind)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#ebebb0;">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        Latest Book Information
                    </a>
                    @*@if (lastBook == null)
                    {
                        <a asp-controller="Information" asp-action="Create" asp-route-id="@lastBook.Id" class="accordion-link">
                            Create
                        </a>
                    }
                    else if (lastBook.Submited == false)
                    {
                        <a asp-controller="Information" asp-action="Edit" asp-route-id="@lastBook.Id" class="accordion-link">
                            Edit
                        </a>
                    }*@
                </h3>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row bottom-margin">
                                <label asp-for="Books[0].Information.Titile" class="col-xs-6 display-label"></label>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(model => lastBook.Information.Titile)
                                </div>
                            </div>
                            <div class="row bottom-margin">
                                <label asp-for="Books[0].Information.CreationDate" class="col-xs-6 display-label"></label>
                                <div class="col-xs-6">
                                    @Html.DisplayFor(model => lastBook.Information.CreationDate)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" style="background:#c2858a;">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                        Books
                    </a>
                </h3>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Book ID</th>
                                    <th class="text-center">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="background:#d3ccd9">
                                    <td>2016-01</td>
                                    <td><i>Book Started</i></td>
                                    <td><a href="StartTreatmentDetails.html"><i>Details</i></a></td>
                                </tr>
                                <tr>
                                    <td>2016-03</td>
                                    <td>aaaa 1234</td>
                                    <td>bbbb 1234</td>
                                </tr>
                                <tr>
                                    <td>2016-05</td>
                                    <td>aaaa 1234</td>
                                    <td>bbbb 1234</td>
                                </tr>
                                <tr style="background:#d3ccd9">
                                    <td>2016-07</td>
                                    <td><i>Book Started</i></td>
                                    <td><a href="ChangeTreatmentDetails.html"><i>Details</i></a></td>
                                </tr>
                                <tr>
                                    <td>2016-08</td>
                                    <td>aaaa 1234</td>
                                    <td>bbbb 1234</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-group btn-group-justified" style="margin-top:25px;">
                        <a asp-controller="Books" asp-action="FastCreate" asp-route-id="@Model.Id" class="btn btn-default">Start New Book</a>
                        <a href="AddEntry.html" class="btn btn-default">Add Chapter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>